.global-background {
    min-height: 100vh; /* Ensure it covers the full viewport height */
    background-image: url('assets\\japan-background.jpg'); /* Update this to your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
